/* Regular Screen styles */
@media screen and (min-width: 800px) and (max-width:1100px) {
    .bg-raindrop {
        display:initial;
    }
    
    #falling-water {
        position:relative;
        top:800px;
    }

    #drop1 {
        position:absolute;
        left:25%;
        transform:rotate(5deg);
        width:15%;
    }

    #drop2 {
        width:10%;
        position:absolute;
        top:450px;
        left:10%;
        transform:rotate(8deg);
    }

    #drop3 {
         width:12%;
        position:absolute;
        top:300px;
        left:40%;
        transform:rotate(3deg);
    }

    #drop4 {
        width:8%;
        position:absolute;
        top:800px;
        left:30%;
        transform:rotate(5deg);
    }

    #drop5 {
        width:6%;
        position:absolute;
        top:1000px;
        left:15%;
        transform:rotate(8deg);
    }

    #drop6 {
        width:4%;
        position:absolute;
        top:1350px;
        left:2%;
        transform:rotate(12deg);
    }

    #drop7 {
        width:3%;
        position:absolute;
        top:1250px;
        left:23%;
        transform:rotate(5deg);
    }

    #drop8 {
        width:2%;
        position:absolute;
        top:1600px;
        left:8%;
        transform:rotate(8deg);
    }

    #drop9 {
        width:2%;
        position:absolute;
        top:1900px;
        left:2%;
        transform:rotate(12deg);
    }

    #drop10 {
        width:2%;
        position:absolute;
        top:2400px;
        left:4%;
        transform:rotate(10deg);
    }
    
    #waves {
        position:relative;
        top:3650px;
    }
    
    #wave1 {
        width:130%;
        position:absolute;
        left:-10%;
        transform:rotate(-20deg);
    }
    
    #wave2 {
        width:90%;
        position:absolute;
        top:1000px;
        left:-10%;
    }
    
    #wave3 {
        width:80%;
        position:absolute;
        top:600px;
        left:30%;
        transform:rotate(-25deg);
    }
}