.bg-raindrop {
    display:none;
}

#wave1 {
    width:130%;
    position:absolute;
    left:-10%;
    top:100px;
    transform:rotate(-20deg);
}

#wave2 {
    width:90%;
    position:absolute;
    top:60px;
    left:-10%;
}

#wave3 {
    width:80%;
    position:absolute;
    top:450px;
    left:30%;
    transform:rotate(-25deg);
}