html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: "Proxima Nova Medium", sans-serif;
    margin: 0;
    background-color: #211e1a;
    overflow-x:hidden;
    color: #211e1a;
    width: 100%;
}

/* Absolute minimum res styles */
